<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Shalin Patel">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <link rel="stylesheet" href="<%= asset_path 'animate.css' %>">
    <!-- Custom CSS -->
    <link rel="stylesheet"  href="<%= asset_path 'creative.css' %>">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      body{
        background-color: #e4e4e4;
        background-image: url(<%= asset_path 'backmain.jpg' %>);
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
        overflow-y: hidden;
      }
    </style>

</head>

<body id="page-top">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="color:#005500;text-shadow: 1px 1px #005500;">Welcome to Smart Schedule!</h1>
                <hr>
                <h5 style="color:#005500;">The smartest way to schedule!</h5>
                <br>
                <a href="/users/sign_in" class="btn btn-primary btn-xl">Login</a><h5 style="color:white;font-size:14px;">&nbsp;&nbsp;&nbsp;OR&nbsp;&nbsp;&nbsp;</h5> <a href="/users/sign_up" class="btn btn-primary btn-xl">Signup</a>
            </div>
        </div>
    </header>
    <!-- Plugin JavaScript -->
    <script src="<%= asset_path 'jquery.easing.min.js' %>"></script>
    <script src="<%= asset_path 'jquery.fittext.js' %>"></script>
    <script src="<%= asset_path 'wow.min.js' %>"></script>

    <!-- Custom Theme JavaScript -->
    <script src="<%= asset_path 'creative.js' %>"></script>

</body>

</html>
