<!DOCTYPE html>
<html>
<head>
  <title>Smart Schedule</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel='stylesheet' href="<%= asset_path 'hover.css' %>" />
  <link rel='stylesheet' href="<%= asset_path 'animate.css' %>" />
  <link rel='stylesheet' href='https://bootswatch.com/paper/bootstrap.min.css' />
<script src='lib/jquery.min.js'></script>
<script src='lib/moment.min.js'></script>
<script src='fullcalendar/fullcalendar.js'></script>
<script>
var fade_out = function() {
  $("#mydiv").fadeOut().empty();
}

setTimeout(fade_out, 5000);
</script>
<link href='http://fonts.googleapis.com/css?family=Khand:400,500' rel='stylesheet' type='text/css'>
</head>
<body>

  <% if notice %>
    <p id="mydiv" class="alert alert-success" style="font-family:'Khand' sans-serif;margin-bottom:-5px;padding:none;margin-top:-30px;"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p id="mydiv" class="alert alert-danger" style="font-family:'Khand' sans-serif;margin-bottom:-5px;padding:none;margin-top:-30px;"><%= alert %></p>
  <% end %>

<%= render partial:"layouts/nav" %>
<%= yield %>

</body>
</html>
